<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

 <link rel='stylesheet' type="text/css" href='stylesheets/dist/semantic.css'>
 <script src='assets/library/jquery.min.js'></script>
 <script src='stylesheets/dist/semantic.js'></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

 <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers 
    <script src="javascripts/es6-shim/es6-shim.min.js"></script>
    <script src="javascripts/zone.js/dist/zone.js"></script>
    <script src="javascripts/reflect-metadata/Reflect.js"></script>
    <script src="javascripts/systemjs/dist/system.src.js"></script> -->
     

   
    

    <!-- 2. Configure SystemJS
    <script src="javascripts/system.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err);  });
    </script>  -->
    
    
  </head>
 <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(18.5330956, -72.3557872),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68256916-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
$(function(){
$('.signup').click(function(){$('.ui.modal').modal({
    blurring: true
  })
  .modal('show');

var formValidationRules=$('.ui.form.onboarding.nope').form({
        on: 'blur',
    fields: {
      email: {
        identifier : 'Email',
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid e-mail'
          }
        ]
      },

   username: {
        identifier : 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },

       match: {
       identifier  : 'password2',
       rules: [
          {
            type   : 'match[password1]',
            prompt : 'Please put the same value in both fields for password'
          }
        ]
      }
 }
 });

$('.ui.blue.submit.button').click(function(){

var isFormValid=$('.ui.form.onboarding').form('is valid');

if(isFormValid){
var value= $(".onboarding").serializeArray();


var postdata=$.post( "http://www.assembleechretienne.com/onboarding", value, function( data ) {
});

postdata.done( function (data){
 alert( "Thank you for registering with Assemblee Chretieene. You can now log into the site any time");
});

  }

return false;
});

});

});

</script>
 <style>
#blue {
    margin-top: 20px;
    background: #f3f0e9;
    padding-top: 1em;
}
#blue h1{
	font-size: 3.125em;
    line-height: 1.12em;
}

.ui.vertical.segment{

    background: #f7f7f7;
    padding: 1em 0 1.25em .625em;
}

 .loggincolumn {
       
	   position:relative;
    }
	
	.ui.grid.log{
		margin-top: -270px;
	}
	
	.ui.segment.login {
    position: relative;
    background: #FFFFF;
	opacity: .80
}
</style>
 
 </head>
<body>
<div class='ui top fixed menu'>
    <div class='ui container'>
	<a class='item'> Mission Assemblee Chretienne par la foi</a>
	<a class='item'> Accueil</a>
	<a class='item'> Qui Nous Somme</a>
	<a class='item'> Structure</a>
	<a class='item'> Notre Histoire</a>
	<a class='item'> Media</a>
	<a class='item'> Connection </a>
	
	</div>
</div>

<div class='ui container fluid'> 
<img class="ui fluid image" src="images/site_image/photo2.png">
</div>

<div class='ui container'> 
<div class="ui grid log">
<div class="twelve wide column "></div>
  <div class="four wide column logincolumn">
  
    <form class="ui large form">
      <div class="ui segment login">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a class="signup" href="#">Sign Up</a>
    </div>
  </div>
</div>
 </div>
<div class='ui container dividing header'>
<div class="ui center aligned container">
  <h1>Bienvenue a la Mission De L'Assemblee Chretienne Par La Foi</h1>
   
</div>
</div>





<!-- Three picture-->

<div class="ui container"> 
<div class="ui three column grid">
  <div class="column">   
        <img class="ui fluid image" src="images/site_image/16522_10204267201343484_5462212367498842274_n.jpg"> 	
  </div>
 
 <div class="column">   
      <img class="ui fluid image" src="images/site_image/11133978_10204267182343009_6005275067582208816_o.jpg">
 </div>
 
  <div class="column">  
      <img class="ui fluid image" src="images/site_image/11100673_10204267183063027_4590210852413712773_o.jpg">
  </div>
</div>
</div>

<!-- three picture------------------------------------------------------------------------------------------------------>


 <div class="ui horizontal divider"></div>

<!-- Mission Statement ------------------------------------------------------------------------------------------------------ -->
<div class="ui container"> 
<div class="ui raised segment">
  <h2 class="ui header">Mots Des Pasteurs</h2>
  <p> Nous rendons gloire à Dieu le pére de nous avoir donné cet autre outil de communication, car il a dit lui meme dans le livre Det 32 le verset 2  “Que ma parole tombe comme la rosée” ainsi nous voudrions utiliser ce site comme une opportunité afin de pouvoir véhuculer le message de la parole de Dieu à travers le monde.C’est aussi un moyen de permettre aux anciens membres de l’Eglise qui ne sont plus en Haiti de vivre en ligne nos differentes activités( Spirituelles et Sociales). ce site web contient toutes les informations essentielles concernant l’Eglise Assemblé Chretienne par la Foi. Nous avons pour vous a la page d’accueil un menu très chargé et très interessant, nous esperons toute fois que cela arrivera à combler votre attente. Merci déja de vous inscrire parmi nos membres actifs du site, et Dieu dans son Amour infini ne manquera pas de vous combler de toutes sorte de Bénédictions.
</p>
</div>
</div>
<!-- Mission Statement ---------------------------------------------------------------------------------------------------------->

 <div class="ui horizontal divider"></div>

 
 
   <div class="ui container">
<div class="ui grid">

        <div class="left floated ten wide column">
          <div class="ui segment">
		  <h2 class="ui header">Histoire de la Mission Assemblee Chretienne</h2>
            <p>Frere et soeur en Jesus Christ que la grace du Seigneur Jesus Christ soie avec vous. A droite de cet paragraphe contien un video qui decrive l'histoire de l'eglise. Ce video aussi contient notre projet d'aquisition et de construction pour le future. Au decus de cet site internet contient un link qui vous facilitera a faire du donation a la mission.</p>
          </div>
        </div>
            
           <iframe class="right floated six wide column width="420" height="315" src="https://www.youtube.com/embed/qk2L695VMK0" frameborder="0" allowfullscreen></iframe>   
 </div>
</div>
 
 <!-- Horaire ---------------------------------------------------------------------------------------------------------->
 
<div class='ui container fluid'> 
	<div class='ui container'> 
	<h1>Horaire De L'eglise</h1>
	<table class="ui striped table">
  <thead>
    <tr>
      <th>Jour De la Semainer</th>
      <th>Heure</th>
      <th>Type De Service</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dimanche</td>
      <td>7:30 AM - 11:30 AM</td>
      <td>Grande Service</td>
   
    </tr>
    <tr>
      <td>Dimanche</td>
      <td>5:00PM - 7:00 PM</td>
      <td>Service D'Adoration et de Grace</td>
     
    </tr>
    <tr>
      <td>Deuxiem Mardi du Mois</td>
      <td>5:00PM - 7:00PM</td>
      <td>Mardi Des Ouvriers</td>
    </tr>
    <tr>
      <td>Mercredi</td>
      <td>5:00PM - 7:00PM</td>
      <td>Service De Priere et de Temoignage</td>      
    </tr>
    <tr>
      <td>Venderdi</td>
      <td>5:00PM - 7:00PM</td>
      <td>Etude Biblique</td>
    </tr>
    <tr>
      <td>Lundi au Samedi</td>
      <td>January 11, 2014</td>
      <td>Cohorte du Matin</td>
    </tr>
  </tbody>
</table>
	</div>	
</div>
<!-- Horaire ---------------------------------------------------------------------------------------------------------->

 <div class="ui horizontal divider"></div>
 



<div class='ui container fluid' id='blue'> 
	<div class='ui container'> 
	<h1>Photos et Media</h1>
	<div class="ui grid">
  <div class="four wide column">
	<img class="ui fluid image" src="images/site_image/eder.jpg">
	<p> Sa se Monsieur Eder ki chita ate a, kap reflechi ak lavi a, li gen kat timoum poul okipe</p>
  </div>
  <div class="four wide column">
	<img class="ui fluid image" src="images/site_image/member.jpg">
	<p> Sa se youn bel tifi ki ap souri pou jezi</p>
  </div>
  <div class="four wide column">
  <img class="ui fluid image" src="images/site_image/timoun.jpg">
  <p> Sa se youn timoun ki kontan anplil</p>
  </div>
  <div class="four wide column">
	<img class="ui fluid image" src="images/site_image/toumoun.jpg">
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tnt mollit anim id est laborum</p>
  </div>
  
  <div class="four wide column">
	<img class="ui fluid image" src="images/site_image/11538165_10204700269849926_8289107156986870028_o.jpg">
	<p> Sa se Monsieur Eder ki chita ate a, kap reflechi ak lavi a, li gen kat timoum poul okipe</p>
  </div>
  <div class="four wide column">
	<img class="ui fluid image" src="images/site_image/10926838_10204700270369939_1167697628385725261_o.jpg">
	<p> Sa se youn bel tifi ki ap souri pou jezi</p>
  </div>
  <div class="four wide column">
  <img class="ui fluid image" src="images/site_image/1396747_10201332796505197_750709889_o.jpg">
  <p> Sa se youn timoun ki kontan anplil</p>
  </div>
  <div class="four wide column">
	<img class="ui fluid image" src="images/site_image/1503935_10201445887972413_1629716950_n.jpg">
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tnt mollit anim id est laborum</p>
  </div>
</div>
	</div>	
</div>

 <div class="ui horizontal divider"></div>
 
   <div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    S'inscrire
  </div>
  <div class="image content">
    <div class="ui form segment">
  <p>Tell Us About Yourself</p>
  
<my-app>Loading...</my-app>
</div>
  </div>

  </div>
</div>
 
 
 
 
 
<div class="ui container"> 
<div>
 <button class="ui circular facebook icon button">
  <i class="facebook icon"></i>
</button>
<button class="ui circular twitter icon button">
  <i class="twitter icon"></i>
</button>
</div>
 </div>
 
 
<div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui stackable  divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui  header">About</h4>
          <div class="ui link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui  header">Services</h4>
          <div class="ui  link list">
            <a href="#" class="item">How To Access</a>
          </div>
        </div>

		<div class="three wide column">
		<h3>Martissant 7, Manigat Rue Vaval  # 2. Port-au-Prince, Haïti</h3>
		<p>E-mail : assembleeparlafoi@gmail.com</p>
		<p>Phones : (509)3477- 1094 / (509) 37910217 / (509) 3749-9065</p>
		</div>
		
		 <div class="three wide column" id="map">
		 </div>
        <div class="four wide column">
          <h4 class="ui  header">Donation</h4>
          <p>Supportez la mission a travers votre don</p>
		  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="D8WMSHS4G3ZEY">
			<input type="image" src="https://www.assembleechretienne.com/images/site_image/donation_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		  </form>

        </div>		
      </div>
    </div>
  </div>

</body>
  <script src="javascripts/dist/vendor.js"></script>
     <script src="javascripts/dist/bundle.js"></script>
</html>